<script src="/Script/app.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/jquery/dist/jquery.min.js"></script>
<script>
        function submitForm() {
            // Perform any validation if needed
            

            // Simulate form submission (replace with actual AJAX call if needed)
            // For simplicity, we'll just show a confirmation message
            document.getElementById('contactForm').style.display = 'none';
            document.getElementById('confirmationMessage').style.display = 'block';
        }
</script>
</body>
</html>